// Place all the styles related to the api/businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.business-img{
    width: 150px;
    height: 130px;
    border-radius: 3px;
}

ul{
    list-style-type: none;
}

.business-index-item{
    display: flex;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 5px;
    width: 50%;
    padding: 20px;
    margin-top: 3%;
}

.business-index-item:hover{
    box-shadow: 1px 1px 1px 1px grey;
}

.business-index-info > p{
    color: black;
}

.business-index-info{
    margin-left: 5%;
}

.business-index-list > a{
    text-decoration: none;
}

.business-index-title{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.business-index-takeout{
    display: flex;
    justify-content: space-around;
    color: black;
}

.business-detail-img{
    width: 420px;
    height: 345px;
}


