// Place all the styles related to the api/reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.review-container img{
    width: 57%;
    height: auto;
}

.review-index-stars{
    display: block;
    position: relative;
    overflow: hidden;
    width: 190px;
    height: 20px;
}

.review-index-stars .review-index-5stars{
    position: relative;
    top: -100px;
   
}
.review-index-stars .review-index-4stars{
    position: relative;
    top: -80px;   
}

.review-index-stars .review-index-3stars{
    position: relative;
    top: -60px;   
}

.review-index-stars .review-index-2stars{
    position: relative;
    top: -40px;   
}

.review-index-stars .review-index-1stars{
    position: relative;
    top: -20px;   
}
