// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.session-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: auto;
    margin-left: -10px;
      
}

.session-img{
  margin-right: 10px;
  margin-top: 10px;
}

.form-box{
  margin-left: 130px;
}

.form-box input{
  margin-top: 20px;
}


.session-header{
    background-color: rgb(177, 53, 53);
    padding: 22px;
}


#session-logo{
  width: 12%;
  height: 15%;
  margin-left: 40%;
 
}

.session-name, select{
  width: 200px;
  padding: 8px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.session-email, select {
    width: 400px;
    padding: 8px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .session-password, select {
    width: 400px;
    padding: 8px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .sign-btn {
    width: 300px;
    display: inline-block;
    background-color: #cf1f1f;
    padding: 12px 20px;
    margin-top: 5px;
  }
  

  .signup-intr > header{
      color: rgb(209, 39, 39);
      font-size: 40px;
      margin-top: 20px;
      margin-bottom: 40px;
      margin-left: -10%;
  }

  .signup-intr > p{
    margin-top: 10px;
    margin-bottom: 10px;
  }


  .login-intr > p{
    margin: 10px 0;
  }

  .login-intr > header{
    color: rgb(209, 39, 39);
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.session-form-container{
  display: flex;
  justify-content: center;
}

.session-error{
  color: red;
  font-size: 12px;

}

.signup-names{
   display: flex;
   //flex-direction: row;
}

.error-placeholder{
  color: white;
  font-size: 12px;
}