// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.homepage-header{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-top: -47%;
    
}

.business-header{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-bottom: 1px solid rgb(224, 224, 224);
}


.login-signup{
    margin-top: 23%;
    margin-left: -25%;
}

.header-group{
    margin-top: 19%;
    margin-left: -25%;
}

.homepage-header .login-signup > a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    border: 0.1rem solid white ;
    border-radius: 5px;
    padding: 4px;
    margin: 4%;
}


.business-header .login-signup > a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    border: 0.1rem solid black ;
    border-radius: 5px;
    padding: 4px;
    margin: 4%;
}

.header-group{
    display: flex;
}

.header-name{
    font-size: 20px;
    margin: 7px;
}

.login-signup > a:hover {
    text-decoration: underline;
 }


 .home-link{
     text-decoration: none;
     color: white;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 25px;
     margin-top: 2%;
 }

 .home-background{
     width: 100%;
     height: 600px;
 }

 .logo{
    margin-left: 34%;
    margin-top: 6%; 
    width: 27%;
    height: auto;
 }

 .business-logo{
     width: 44%;
     height: auto;
     margin-left: -2%;
 }

 .search-label{
     color: rgb(56, 56, 56);
     font-size: 25px;
     font-weight: bold;
     margin: 2px;
 }

 .navigation-container{
     margin-top: 23%;
     margin-left: 7%;
     margin-bottom: 10%;
 }

 .nav-img{
     width: 170px;
     height: 120px;
 }

 .navigation-container > button{
     margin: 0 15px;
 }


 .all-business{
     background: none;
     border: none;
     color: white;
     font-size: 18px;
     margin-top: 10px;
 }



 .footer{
     padding-top: 8%;
     padding-bottom: 9%;
     background-color: rgb(233, 231, 231);
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .footer a{
     text-decoration: none;
     color: black;
     font-weight: bold;
     margin-top: 10px;
 }

 .footer a:hover{
    text-decoration: underline;
 }

 .footer p{
    font-weight: bold;
    color: rgb(184, 18, 18); 
 }


 .search-bar .search-bar-home{
     margin-left: 30%;
     margin-top: 3%;
     border: none;
     padding: 3px;
     border-radius: 5px;
     background-color: white;
 }

 .search-bar-home .search-main{
        border: 0;
        margin-top: -2px;
        padding: 4px;
        margin-left: 5px;
        font-size: 16px;
 }
 .search-bar-home .search-main:focus{
    outline: none
 }

 .search-bar-home button{
     background-color: rgb(184, 18, 18);
     border: 0;
     padding: 7px;
     border-radius: 5px;
 }


 .search-box{
    margin-top: 2%;
 }

.title-box{
    width: 16%;
}


.search-sub{
    padding: 5px;
    font-size: 14px;
    margin-right: 5px;
}

.search-bar-header button{
    padding: 5px;
    background-color: rgb(184, 18, 18);
}


.nav-btn-div{
    margin-left: 42%;
    margin-top: 2%;
}

.nav-btn{
    background: none;
    border: none;
    font-size: 16px;
    color: white;
    margin-left: 2%;
    font-weight: bold;
}

.nav-btn:hover{
    text-decoration: underline;
    color: white;
}