// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.homepage-header{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    
}

.business-header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid rgb(224, 224, 224);
}

.business-title{
    text-decoration: none;
    color: black;
    margin-left: 7%;
    font-size: 20px;
}

.login-signup > a{
    text-decoration: none;
    font-size: 18px;
    border: 0.1rem solid black ;
    border-radius: 5px;
    padding: 4px;
}

.header-group{
    display: flex;
}

.header-name{
    font-size: 20px;
    margin: 7px;
}

.login-signup > a:hover {
    text-decoration: underline;
 }


